<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="referrer" content="origin-when-cross-origin">
<meta name="description" content="2019 Summer coding - Todo List">
<meta property="og:title" content="Todo List (YH Park)">
<meta property="og:site_name" content="Todo List">
<meta property="og:locale" content="ko_KR">
<meta property="og:description" content="2019 Summer coding - Todo List">
<meta name="twitter:title" property="og:title" itemprop="title name" content="Todo List (YH Park)">
<meta name="twitter:description" property="og:description" itemprop="description" content="2019 Summer coding - Todo List">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, nofollow">
<title>Todo List (YH Park)</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	.container {
		height: 100vh;
	}
	#to-do-list {
		max-height: calc(100vh - 90px);
		overflow-y: auto;
		cursor: pointer;
	}
	#to-do-list .list-group-item {
		padding: 20px 20px 30px;
		transition: background 0.3s ease 0s, opacity 0.5s ease 0s;
	}
    #to-do-list .list-group-item.expired {
        border: #f00 solid 2px;
    }
    #to-do-list .list-group-item.done {
        border: #0f0 solid 2px;
    }
    #to-do-list .list-group-item.p-high {
        background: #ffc7c7;
    }
    #to-do-list .list-group-item.p-mid {
        background: #ffffca;
    }
    #to-do-list .list-group-item.p-low {
        background: #adffad;
    }
	#to-do-list .list-group-item:hover {
		background: #fff;
	}
	.list-date-text {
		color: #aaa;
		display: inline-block; 
		position: absolute;
	}
	.to-do-list-content {
		font-size: 1.3em;
		cursor: pointer;
	}
    .to-do-list-content.expired {
        color: #f00;
    }
    .to-do-list-content.done {
        color: #00c000;
        text-decoration: line-through;
    }
	#list-up-btn, #list-down-btn {
		border-radius: 50%; 
		float: right; 
		margin-top: -13px;
	}
	#add-todo-content, #mod-todo-content {
		resize: none;
		border: none;
		width: 100%;
		height: 30vh;
	}
	#view-todo-content {
		height: 30vh;
	}
	.checklist input[type=text] {
		border: none;
		width: 80%;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		fnObj.todoList.getTodoList(true);
	});
	var fnObj = {
            todoList: {
                data: null,
                getTodoList: function(isFirst) {
                    var _this = this;
                    $.post('/getTodos', null, function(json) {
                        _this.data = json;
                        if (isFirst)
                            _this.refreshList(json);
                    })
                },
                refreshList: function(data) {
                    $('#to-do-list').empty();
                    for (var i = 0; i < data.length; i++) {
                        var pr;
                        if (data[i].priority == 3)
                            pr = ' p-high';
                        else if (data[i].priority == 2)
                            pr = ' p-mid';
                        else
                            pr = ' p-low';
                        var exp = '';
                        if (new Date(data[i].deadline).getTime() <= new Date().getTime())
                            exp = ' expired';
                        var done = '';
                        if (data[i].is_done == 1)
                            done = ' done';
                        this.addNewListElement(new Date(data[i].regdate).toLocaleDateString()+' '+new Date(data[i].regdate).toLocaleTimeString(), data[i].title, pr, exp, done);
                    }
                },
                addNewListElement: function(dateStr, listContent, priority, expired, done) {
                    var $li = $('<li class="list-group-item'+priority+expired+done+'" style="overflow: hidden; opacity: 0;" onclick="fnObj.viewTodo.openModal(this)"></li>');
                    var $div = $('<div style="margin-top: -100%; transition: margin 0.7s ease 0s;"></div>');
                    var $dateSpan = $('<span class="list-date-text">'+dateStr+'</span>');
                    $div.append($dateSpan);
                    $div.append('<br>');
                    var $contentSpan = $('<span class="to-do-list-content'+expired+done+'">'+listContent+'</span>');
                    $div.append($contentSpan);
                    $li.append($div);
                    $('#to-do-list').append($li);
                    setTimeout(function() {
                        $li.css('opacity', '1');
                        setTimeout(function() {
                            $div.css('margin-top', '0');
                        }, 100);
                    }, 100);

                }
            },
			addDummyListElement: function() {
				this.todoList.addNewListElement('2019년 5월 19일 12:00:00', 'To do', 'p-mid', '');
			},
			checkList : {
				curListCnt: 0,
				addNewCheckList: function() {
					if (this.curListCnt < 5) {
						var $div = $('<div></div>');
						$div.append('<input type="checkbox" disabled="disabled">&nbsp;&nbsp;<input type="text" placeholder="check list memo">');
						$('#add-todo-modal .checklist').append($div);
						this.curListCnt++;
					}
					else
						alert('체크리스트는 5개까지 추가할 수 있습니다.');
				}
			},
			addTodo: {
				initModal: function() {
					fnObj.checkList.curListCnt = 0;
					$('#add-todo-modal .checklist').empty();
					$('#add-todo-modal input[name=title]').val('');
					$('#add-todo-modal input[name=deadline]').val('');
                    $('#add-todo-modal select[name=priority] option:eq(1)').prop('selected', true);
					$('#add-todo-content').val('');
				},
				openModal: function() {
					this.initModal();
					$('#add-todo-modal').modal('show');
				},
				addRequest: function() {
					var param = {};
                    param.title = $('#add-todo-modal input[name=title]').val();
                    if (!param.title) {
                        alert('제목을 입력해주세요.');
                        return;
                    }
                    param.deadline = $('#add-todo-modal input[name=deadline]').val();
                    param.priority = $('#add-todo-modal select[name=priority]').val();
					param.memo = $('#add-todo-content').val();
					var cnt = 1;
					$('#add-todo-modal .checklist>div').each(function() {
						if ($(this).find('input[type=text]').val() != '')
							param['check'+cnt++] = $(this).find('input[type=text]').val();
					});
					$.post('/addTodo', param, function() {
						fnObj.todoList.getTodoList(true);
					});
					$('#add-todo-modal').modal('hide');
				}
			},
			viewTodo: {
                curOpen: null,
				initModal: function(target) {
					$('#view-todo-title').text(target.title);
					$('#view-todo-deadline').text(new Date(target.deadline).toLocaleDateString());
                    $('#view-todo-content').text(target.memo);
					$('#view-todo-detail-modal').modal('show');
				},
				openModal: function(target) {
                    var t = fnObj.todoList.data[$(target).index()];
                    fnObj.viewTodo.curOpen = t;
					fnObj.viewTodo.initModal(t);
				},
                modifyTodo: {
                    initModal: function() {
                        var data = fnObj.viewTodo.curOpen;
                        var deadline = new Date(data.deadline);
                        var deadlineStr = deadline.getFullYear()+'-'+(deadline.getMonth()+1)+'-'+deadline.getDate();
                        $('#mod-todo-modal .checklist').empty();
                        $('#mod-todo-modal input[name=title]').val(data.title);
                        $('#mod-todo-modal input[name=deadline]').val(deadlineStr);
                        $('#mod-todo-modal select[name=priority] option:eq('+(3-data.priority)+')').prop('selected', true);
                        $('#mod-todo-content').val(data.memo);
                    },
                    openModal: function() {
                        this.initModal();
                        $('#mod-todo-modal').modal('show');
                    },
                    modRequest: function() {
                        var param = {};
                        param.seq = fnObj.viewTodo.curOpen.seq;
                        param.title = $('#mod-todo-modal input[name=title]').val();
                        if (!param.title) {
                            alert('제목을 입력해주세요.');
                            return;
                        }
                        param.deadline = $('#mod-todo-modal input[name=deadline]').val();
                        param.priority = $('#mod-todo-modal select[name=priority]').val();
                        param.memo = $('#mod-todo-content').val();
                        var cnt = 1;
                        $('#mod-todo-modal .checklist>div').each(function() {
                            if ($(this).find('input[type=text]').val() != '')
                                param['check'+cnt++] = $(this).find('input[type=text]').val();
                        });
                        $.post('/modTodo', param, function() {
                            fnObj.todoList.getTodoList(true);
                        });
                        $('#mod-todo-modal').modal('hide');
                    }
                },
				doneTodo: function() {
                    if (confirm('Do you want to finish this To-do?')) {
                        var param = {};
                        param.seq = fnObj.viewTodo.curOpen.seq;
                        $.post('/doneTodo', param, function() {
                            fnObj.todoList.getTodoList(true);
                        });
                    }
				},
				deleteTodo: function() {
                    if (confirm('Do you want to delete this To-do?')) {
                        var param = {};
                        param.seq = fnObj.viewTodo.curOpen.seq;
                        $.post('/delTodo', param, function() {
                            fnObj.todoList.getTodoList(true);
                        });
                    }
				}
			}
			
	}
</script>
</head>
<body>
<div class="container" style="">
    <div id="indicator" style="position: absolute; top: 23px;">
        background color -> Priority <span style="background: #ffc7c7">&nbsp;&nbsp;&nbsp;</span> : High / <span style="background: #ffffca">&nbsp;&nbsp;&nbsp;</span> : Mid / <span style="background: #adffad">&nbsp;&nbsp;&nbsp;</span> : Low
        <br>
        border -> <span style="background: #0f0">&nbsp;&nbsp;&nbsp;</span> : Done To-do / <span style="background: #f00">&nbsp;&nbsp;&nbsp;</span> : Expired To-do
    </div>
	<h1 style="text-align: center;">
		YH To-do List
		<button id="add-list-btn" class="btn btn-info btn-small" style="border-radius: 50%; float: right;" onclick="fnObj.addTodo.openModal();">+</button>
	</h1>
	<ul id="to-do-list" class="list-group"></ul>
</div>
<div id="add-todo-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 id="modalTitle" style="text-align: center;">Add new To-do</h3>
			</div>
			<div class="modal-body">
                <input type="text" name="title" style="border: none;" placeholder=" title" autocomplete="off">
                Deadline <input type="date" name="deadline">
                Priority <select name="priority">
                    <option value="3">High</option>
                    <option value="2" selected="selected">Mid</option>
                    <option value="1">Low</option>
                </select>
				<textarea id="add-todo-content" placeholder="memo"></textarea>
				<br>
				<!-- <div class="checklist" style="padding: 20px;"></div>
				<span style="font-weight: bold; cursor: pointer;" onclick="fnObj.checkList.addNewCheckList()">→ Click here to add check list element.</span> -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-small" onclick="fnObj.addTodo.addRequest();">Save</button>
			</div>
		</div>
	</div>
</div>
<div id="mod-todo-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 id="modalTitle" style="text-align: center;">Modify To-do</h3>
			</div>
			<div class="modal-body">
                <input type="text" name="title" style="border: none;" placeholder=" title" autocomplete="off">
                Deadline <input type="date" name="deadline">
                Priority <select name="priority">
                    <option value="3">High</option>
                    <option value="2" selected="selected">Mid</option>
                    <option value="1">Low</option>
                </select>
				<textarea id="mod-todo-content" placeholder="memo"></textarea>
				<br>
				<!-- <div class="checklist" style="padding: 20px;"></div>
				<span style="font-weight: bold; cursor: pointer;" onclick="fnObj.checkList.addNewCheckList()">→ Click here to add check list element.</span> -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-small" onclick="fnObj.viewTodo.modifyTodo.modRequest();">Save</button>
			</div>
		</div>
	</div>
</div>
<div id="view-todo-detail-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 id="modalTitle" style="text-align: center;">To-do detail</h3>
			</div>
			<div class="modal-body">
                <div style="font-size: 1.5em;">Title: <span id="view-todo-title" style="font-size: 0.7em;"></span></div>
                <div style="font-size: 1.5em;">Deadline: <span id="view-todo-deadline" style="font-size: 0.7em;"></span></div>
				<div style="font-size: 1.5em; height: 30vh;">Memo: <span id="view-todo-content" style="font-size: 0.7em;"></span></div>
				<br>
				<div class="checklist" style="padding: 20px;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-small" data-dismiss="modal" onclick="fnObj.viewTodo.modifyTodo.openModal();">Modify</button>
                <button type="button" class="btn btn-success btn-small" data-dismiss="modal" onclick="fnObj.viewTodo.doneTodo();">Done</button>
				<button type="button" class="btn btn-danger btn-small" data-dismiss="modal" onclick="fnObj.viewTodo.deleteTodo();">Delete</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>